*{
    padding: 0%;
    margin: 0%;
}


.table2{
    width: 95%;
    margin: 5% 2.5%;
    border: 1px solid red ;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
td, tr{
    border: 1px solid red ;
    height: 4rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.txtfield{
    border: none;
    width: 100%;
    height: 5rem;
    font-size: 4rem;
    color: white;
    background-color: #006674;
    outline: none;
}

.row1{
    color: white;
    background-color: rgb(230, 154, 39);
    
}

.row2{
    background-color: rgb(206, 215, 216);
}
.equal{
    background-color: green;
}
.cut{
    background-color: red;
}

.cell{
    transition: background 2s;
}
.cell:hover{
    background-color: blue;
}